@font-face {
    font-family: "LatoWeb";
    src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "LatoWebBlack";
    src: url("assets/fonts/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
  }
  
  @font-face {
    font-family: "LatoWebBold";
    src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
  }
  
  @font-face {
    font-family: "LatoWebLight";
    src: url("assets/fonts/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
  }
  
  @font-face {
    font-family: "LatoWebThin";
    src: url("assets/fonts/Lato-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    margin: 0;
    font-family: "LatoWeb", sans-serif;
    background-color: #f2f2f2;
    background-size: 100%;
    width: 1020px;
  }
  
  .contact-information__wrapper {
    padding: 0;
    margin: 0;
    width: 1020px;
    margin: 0 auto;
  }
  
  .contact-information {
    padding: 0;
    margin: 0;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    color: #f0d8d9;
  }
  
  .wrapper-contacts {
    padding: 59px 0 0 40px;
  }
  
  .contact-information__header {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    font-family: "LatoWebBold";
    color: #f0d8d9;
  }
  
  .contact-information__text {
    padding: 0;
    margin: 0;
    font-family: "LatoWebLight";
    font-size: 1.8rem;
    padding-top: 18px;
    line-height: 30px;
    width: 940px;
    text-align: justify;
  }
  
  .contact-information__container {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 600px 350px;
    grid-template-rows: 430px;
    margin-top: 28px;
    margin-bottom: 17px;
  }
  
  .contacts-item-form {
    text-align: center;
  }
  
  .contacts-form__input {
    border: none;
    padding: 0;
    margin: 0;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    width: 604px;
    margin-top: 16px;
    padding-left: 15px;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "LatoWeb";
  }
  .submit {
    padding: 0;  
    text-align: center;
    width: 100px;
  }
  
  .contacts-form__textarea {
    border: none;
    padding: 0;
    margin: 0;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    width: 604px;
    margin-top: 16px;
    height: 195px;
    padding-top: 7px;
    padding-left: 15px;
    font-size: 1.2rem;
    line-height: 22px;
    font-family: "LatoWeb";
    resize: none;
  }
  
  .contacts-form__input::placeholder,
  .contacts-form__textarea::placeholder {
    color: #f48c8f;
  }
  
  .contacts-item-info {
    padding-top: 13px;
    padding-left: 40px;
  }
  
  .contacts-info__header {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    font-family: "LatoWebBold";
    letter-spacing: 0.1px;
    line-height: 24px;
  }
  
  .contacts-info__description {
    padding: 0;
    margin: 0;
    margin-bottom: 23px;
    padding-top: 7px;
    width: 300px;
    font-size: 1.2rem;
    line-height: 22px;
    letter-spacing: -0.03px;
    text-align: justify;
    font-family: "LatoWeb";
  }
  
  .contacts-info__address {
    padding: 0;
    margin: 0;
    background: url("assets/png-img/location-icon.png") 3px 2px no-repeat;
  }
  
  .contacts-info__phone {
    padding: 0;
    margin: 0;
    background: url("assets/png-img/phone-icon.png") 1px 2px no-repeat;
    margin-top: 6px;
  }
  
  .contacts-info__email {
    padding: 0;
    margin: 0;
    background: url("assets/png-img/mail-icon.png") 0 5px no-repeat;
    margin-top: 7px;
  }
  
  .contacts-info__address,
  .contacts-info__phone,
  .contacts-info__email {
    padding-left: 23px;
    font-size: 12px;
    width: 120px;
    font-family: "LatoWeb";
  }
  
  .phone-link,
  .email-link {
    text-decoration: none;
    color: #f0d8d9;
  }
  
  .phone-link:hover,
  .email-link:hover {
    text-decoration: underline;
  }
  
  .footer {
    background-color: #2d303a;
  }
  
  .wrapper-footer {
    padding: 22px 40px 22px 42px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer__text {
    margin: 0;
    padding-top: 13px;
    font-size: 1.2rem;
    color: #666d89;
    line-height: 6px;
    letter-spacing: -0.19px;
  }
  
  .footer-icons {
    width: 32px;
    height: 32px;
    display: flex;
    width: 152px;
    justify-content: space-between;
    padding-left: 6px;
  }
  
  .footer__icon:hover {
    cursor: pointer;
    transform: scale(1.3);
  }